**Process original date format into YYYMM date format**

In [23]:
import pandas as pd

table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable1.csv")

table1

,left,top,right,bottom,newID,OBJECTID,YEAR_,ALARM_DATE,CONT_DATE,Shape_Leng,Shape_Area
0,-124.201341,42.055424,-124.101341,41.955424,2,38911,2011,2011/08/14 00:00:00.000,2011/08/16 00:00:00.000,1332.970587,8.358999e+04
1,-124.101341,42.055424,-124.001341,41.955424,3,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
2,-124.001341,42.055424,-123.901341,41.955424,4,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
3,-123.901341,42.055424,-123.801341,41.955424,5,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
4,-123.801341,42.055424,-123.701341,41.955424,6,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
...,...,...,...,...,...,...,...,...,...,...,...
9699,-116.901341,32.555424,-116.801341,32.455424,4517,36966,2004,2004/08/16 00:00:00.000,2004/08/16 00:00:00.000,1623.349711,8.971550e+04
9700,-116.901341,32.555424,-116.801341,32.455424,4517,39586,2013,2013/05/22 00:00:00.000,2013/05/22 00:00:00.000,5978.770429,1.316401e+06
9701,-116.901341,32.555424,-116.801341,32.455424,4517,42138,2018,2018/07/17 00:00:00.000,2018/07/17 00:00:00.000,1659.463675,1.147019e+05
9702,-116.901341,32.555424,-116.801341,32.455424,4517,42500,2019,2019/05/13 00:00:00.000,2019/05/19 00:00:00.000,2181.137760,9.451595e+04
9703,-116.901341,32.555424,-116.801341,32.455424,4517,42502,2019,2019/10/30 00:00:00.000,2019/11/01 00:00:00.000,6078.260853,1.502824e+06

In [24]:
import pandas as pd
import numpy as np

table1 = table1.reset_index(drop=True)  # make sure indexes pair with number of rows

col_values = []

drop = []

for index, row in table1.iterrows():
    if (not pd.isna(row["ALARM_DATE"])):
        year_month = str(row["ALARM_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    elif (not pd.isna(row["CONT_DATE"])):
        year_month = str(row["CONT_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    else:
        drop.append(table1.index[index])

out_table1 = table1.drop(drop)

out_table1.insert(11, "date_formatted", col_values, True)

out_table1 = out_table1.reset_index(drop=True)

# print("Length of T1: %s\nLength of date array: %s" % (len(table1), len(out_table1)))

In [25]:
out_table1.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv', index=False)

In [26]:
final_table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable2.csv")

In [27]:
table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv")

In [ ]:
for i in range(23):
    yr = i+1999
    for i in range(12):
        month = i+1
        out = str(id) + "_"
        if (month < 10):
            out += (str(yr) + "0" + str(month))
        else:
            out += (str(yr) + str(month))

In [6]:
observationcols = []
elevation = []

final_table2 = final_table2.reset_index(drop=True)  # make sure indexes pair with number of rows
for index, row in final_table2.iterrows():
    id = int(row.get(["newID"]))
    
    for i in range(22):
        yr = i+2000
        for i in range(12):
            month = i+1
            out = str(id) + "_"
            if (month < 10):
                out += (str(yr) + "0" + str(month))
            else:
                out += (str(yr) + str(month))
            
            observationcols.append(out)
            
fireobs =[]            

for index, row in table1.iterrows():
    id = int(row.get(["newID"]))
    date = int(row.get(["date_formatted"]))
    id_date = str(id) + "_" + str(date)
    fireobs.append(id_date)
            
df = pd.DataFrame()

df.insert(0, "Observations", observationcols, True)

In [11]:
baseobs = [0]*len(df)

for i in range(len(observationcols)):
    if (observationcols[i] in fireobs):
        baseobs[i] = 1

In [15]:
from collections import Counter
c = Counter(fireobs)
count = 0
for i in c:
    if (c[i] > 1):
        count+=(c[i]-1)
print(count)d

503

In [ ]:
df.insert(1, "Fire", baseobs, True)

In [8]:
df.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv', index=False)

In [14]:
print(baseobs.count(1))
print(len(baseobs))
print(len(df))
print(len(fireobs))

5960
1160808
1160808
6465

In [34]:
final_table = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv")

final_table

        Observations  Fire
0           1_200001     0
1           1_200002     0
2           1_200003     0
3           1_200004     0
4           1_200005     0
...              ...   ...
1160803  4517_202108     0
1160804  4517_202109     0
1160805  4517_202110     0
1160806  4517_202111     0
1160807  4517_202112     0

[1160808 rows x 2 columns]