In [52]:
import pandas as pd
import math

In [53]:
data2 = pd.read_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_means.csv')

In [54]:
#data2['Month'] = math.sin(math.pi*pd.to_datetime(data2['Date']).dt.month.astype(int)/6)

data2['Month'] = data2.apply(lambda row : math.sin((int(pd.to_datetime(row['Date']).month)-1)*math.pi/6), axis = 1)

In [55]:
cols = data2.columns.tolist()

cols = cols[:-3] + [cols[-1]] + cols[-3:-1]

data2 = data2[cols]

data2

,newID,Date,YYYYMM,VPD,PPT,TMAX,left,top,HubDist,elev_meanm,...,3Mo_TMAX,1Mo_PPT,2Mo_PPT,3Mo_PPT,12MoMeanVPD,12MoMeanTMAX,12MoMeanPPT,Month,Fire,fut1fire
0,1,1999-01-01,199901,5.318143,289.466287,12.153000,-124.301341,42.055424,3658.694708,38.506361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,0.0
1,1,1999-02-01,199902,4.519571,508.476711,10.698429,-124.301341,42.055424,3658.694708,38.506361,...,NaN,12.153000,NaN,NaN,NaN,NaN,NaN,0.500000,0,0.0
2,1,1999-03-01,199903,5.311428,309.567858,11.620428,-124.301341,42.055424,3658.694708,38.506361,...,NaN,10.698429,12.153000,NaN,NaN,NaN,NaN,0.866025,0,0.0
3,1,1999-04-01,199904,7.304143,82.425429,13.764143,-124.301341,42.055424,3658.694708,38.506361,...,12.153000,11.620428,10.698429,12.153000,NaN,NaN,NaN,1.000000,0,0.0
4,1,1999-05-01,199905,5.658571,119.406572,14.522286,-124.301341,42.055424,3658.694708,38.506361,...,10.698429,13.764143,11.620428,10.698429,NaN,NaN,NaN,0.866025,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217964,4517,2021-09-01,202109,21.749450,8.002600,27.934199,-116.901341,32.555424,9607.776316,241.126194,...,26.246500,29.326550,28.379749,26.246500,20.008467,23.854942,15.478642,-0.866025,0,0.0
1217965,4517,2021-10-01,202110,22.783499,27.762850,24.977949,-116.901341,32.555424,9607.776316,241.126194,...,28.379749,27.934199,29.326550,28.379749,19.053671,23.564125,16.145525,-1.000000,0,0.0
1217966,4517,2021-11-01,202111,22.209550,0.000000,24.351800,-116.901341,32.555424,9607.776316,241.126194,...,29.326550,24.977949,27.934199,29.326550,18.428712,23.262621,18.364971,-0.866025,0,0.0
1217967,4517,2021-12-01,202112,11.387200,107.264397,17.097599,-116.901341,32.555424,9607.776316,241.126194,...,27.934199,24.351800,24.977949,27.934199,18.492925,23.354562,16.793679,-0.500000,0,0.0
1217968,4517,2022-01-01,202201,16.480450,5.853500,19.916349,-116.901341,32.555424,9607.776316,241.126194,...,24.977949,17.097599,24.351800,24.977949,17.805233,23.062737,23.706504,0.000000,0,NaN

In [56]:
data2.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table_sinencoded.csv', index=False)