**Process original date format into YYYMM date format**

In [28]:
import pandas as pd

table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable1.csv")

In [24]:
import pandas as pd
import numpy as np

table1 = table1.reset_index(drop=True)  # make sure indexes pair with number of rows

col_values = []

drop = []

for index, row in table1.iterrows():
    if (not pd.isna(row["ALARM_DATE"])):
        year_month = str(row["ALARM_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    elif (not pd.isna(row["CONT_DATE"])):
        year_month = str(row["CONT_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    else:
        drop.append(table1.index[index])

out_table1 = table1.drop(drop)

out_table1.insert(11, "date_formatted", col_values, True)

out_table1 = out_table1.reset_index(drop=True)

# print("Length of T1: %s\nLength of date array: %s" % (len(table1), len(out_table1)))

In [25]:
out_table1.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv', index=False)

In [26]:
final_table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable2.csv")

In [27]:
table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv")

In [ ]:
for i in range(23):
    yr = i+1999
    for i in range(12):
        month = i+1
        out = str(id) + "_"
        if (month < 10):
            out += (str(yr) + "0" + str(month))
        else:
            out += (str(yr) + str(month))

In [32]:
observationcols = []
idcols = []
datecols = []
elevation = []

final_table2 = final_table2.reset_index(drop=True)  # make sure indexes pair with number of rows
for index, row in final_table2.iterrows():
    id = int(row.get(["newID"]))
    
    for i in range(22):
        yr = i+2000
        for i in range(12):
            month = i+1
            out = ""
            if (month < 10):
                out += (str(yr) + "0" + str(month))
            else:
                out += (str(yr) + str(month))
            
            datecols.append(int(out))
            idcols.append(id)
            
fireobs =[]            

'''for index, row in table1.iterrows():
    id = int(row.get(["newID"]))
    date = int(row.get(["date_formatted"]))
    id_date = str(id) + "_" + str(date)
    fireobs.append(id_date)
    '''
            
df = pd.DataFrame()

df.insert(0, "ID", idcols, True)
df.insert(1, "Date", datecols, True)

In [33]:
df

           ID    Date
0           1  200001
1           1  200002
2           1  200003
3           1  200004
4           1  200005
...       ...     ...
1160803  4517  202108
1160804  4517  202109
1160805  4517  202110
1160806  4517  202111
1160807  4517  202112

[1160808 rows x 2 columns]

In [11]:
baseobs = [0]*len(df)

for i in range(len(observationcols)):
    if (observationcols[i] in fireobs):
        baseobs[i] = 1

In [15]:
from collections import Counter
c = Counter(fireobs)
count = 0
for i in c:
    if (c[i] > 1):
        count+=(c[i]-1)
print(count)d

503

In [ ]:
df.insert(1, "Fire", baseobs, True)

In [8]:
df.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv', index=False)

In [14]:
print(baseobs.count(1))
print(len(baseobs))
print(len(df))
print(len(fireobs))

5960
1160808
1160808
6465

In [34]:
final_table = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv")

final_table

        Observations  Fire
0           1_200001     0
1           1_200002     0
2           1_200003     0
3           1_200004     0
4           1_200005     0
...              ...   ...
1160803  4517_202108     0
1160804  4517_202109     0
1160805  4517_202110     0
1160806  4517_202111     0
1160807  4517_202112     0

[1160808 rows x 2 columns]