**Process original date format into YYYMM date format**

In [3]:
import pandas as pd

table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv")

table1

,left,top,right,bottom,newID,OBJECTID,YEAR_,ALARM_DATE,CONT_DATE,Shape_Leng,Shape_Area,date_formatted
0,-124.201341,42.055424,-124.101341,41.955424,2,38911,2011,2011/08/14 00:00:00.000,2011/08/16 00:00:00.000,1332.970587,8.358999e+04,201108
1,-124.101341,42.055424,-124.001341,41.955424,3,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09,200207
2,-123.801341,42.055424,-123.701341,41.955424,6,21707,2020,2020/09/08 00:00:00.000,2020/12/12 00:00:00.000,431144.526138,6.370961e+08,202009
3,-123.601341,42.055424,-123.501341,41.955424,8,38284,2008,2008/10/29 00:00:00.000,2008/10/31 00:00:00.000,1223.899222,9.011795e+04,200810
4,-123.601341,42.055424,-123.501341,41.955424,8,42405,2018,2018/10/19 00:00:00.000,2018/12/18 00:00:00.000,171770.492164,1.542575e+08,201810
...,...,...,...,...,...,...,...,...,...,...,...,...
6460,-116.101341,32.655424,-116.001341,32.555424,4508,22130,2007,2007/06/05 00:00:00.000,2007/06/08 00:00:00.000,9536.241331,2.828639e+06,200706
6461,-116.101341,32.655424,-116.001341,32.555424,4508,38012,2008,2008/06/23 00:00:00.000,2008/06/23 00:00:00.000,2096.437057,2.138425e+05,200806
6462,-116.101341,32.655424,-116.001341,32.555424,4508,21771,2020,2020/07/07 00:00:00.000,2020/07/13 00:00:00.000,4541.175484,4.153762e+05,202007
6463,-116.101341,32.655424,-116.001341,32.555424,4508,21800,2020,2020/06/12 00:00:00.000,2020/06/14 00:00:00.000,2084.062734,5.218381e+04,202006
6464,-117.001341,32.555424,-116.901341,32.455424,4516,22586,2005,2005/05/04 00:00:00.000,2005/05/04 00:00:00.000,182.233590,1.886432e+03,200505

In [60]:
import pandas as pd
import numpy as np

table1 = table1.reset_index(drop=True)  # make sure indexes pair with number of rows

col_values = []

drop = []

for index, row in table1.iterrows():
    if (not pd.isna(row["ALARM_DATE"])):
        year_month = str(row["ALARM_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    elif (not pd.isna(row["CONT_DATE"])):
        year_month = str(row["CONT_DATE"])[0:7]
        year_month = year_month[:4] + year_month[5:]
        col_values.append(int(year_month))
    else:
        drop.append(table1.index[index])

out_table1 = table1.drop(drop)

out_table1.insert(11, "date_formatted", col_values, True)

out_table1 = out_table1.reset_index(drop=True)

# print("Length of T1: %s\nLength of date array: %s" % (len(table1), len(out_table1)))

In [61]:
# out_table1.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/dateformatted_table1.csv', index=False)

In [4]:
final_table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable2.csv")

# for id in final_table2:

In [ ]:
for i in range(23):
    yr = i+1999
    for i in range(12):
        month = i+1
        out = str(id) + "_"
        if (month < 10):
            out += (str(yr) + "0" + str(month))
        else:
            out += (str(yr) + str(month))

In [33]:
observationcols = []
elevation = []

final_table2 = final_table2.reset_index(drop=True)  # make sure indexes pair with number of rows
for index, row in final_table2.iterrows():
    id = int(row.get(["newID"]))
    
    for i in range(22):
        yr = i+2000
        for i in range(12):
            month = i+1
            out = str(id) + "_"
            if (month < 10):
                out += (str(yr) + "0" + str(month))
            else:
                out += (str(yr) + str(month))
            
            observationcols.append(out)
            
fireobs =[]            

for index, row in table1.iterrows():
    id = int(row.get(["newID"]))
    date = int(row.get(["date_formatted"]))
    id_date = str(id) + "_" + str(date)
    fireobs.append(id_date)
            
df = pd.DataFrame()

df.insert(0, "Observations", observationcols, True)

baseobs = [0]*len(df)

for i in range(len(observationcols)):
    if (observationcols[i] in fireobs):
        baseobs[i] = 1

df.insert(1, "Fire", baseobs, True)

In [ ]:
# df.to_csv('/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv', index=False)

In [34]:
final_table = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/final_table.csv")

final_table

        Observations  Fire
0           1_200001     0
1           1_200002     0
2           1_200003     0
3           1_200004     0
4           1_200005     0
...              ...   ...
1160803  4517_202108     0
1160804  4517_202109     0
1160805  4517_202110     0
1160806  4517_202111     0
1160807  4517_202112     0

[1160808 rows x 2 columns]