In [2]:
import pandas as pd

In [3]:
table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/table1.csv")

In [4]:
table1

,left,top,right,bottom,newID,OBJECTID,YEAR_,ALARM_DATE,CONT_DATE,Shape_Leng,Shape_Area
0,-124.201341,42.055424,-124.101341,41.955424,2,38911,2011,2011/08/14 00:00:00.000,2011/08/16 00:00:00.000,1332.970587,8.358999e+04
1,-124.101341,42.055424,-124.001341,41.955424,3,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
2,-124.001341,42.055424,-123.901341,41.955424,4,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
3,-123.901341,42.055424,-123.801341,41.955424,5,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
4,-123.801341,42.055424,-123.701341,41.955424,6,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
...,...,...,...,...,...,...,...,...,...,...,...
9699,-116.901341,32.555424,-116.801341,32.455424,4517,36966,2004,2004/08/16 00:00:00.000,2004/08/16 00:00:00.000,1623.349711,8.971550e+04
9700,-116.901341,32.555424,-116.801341,32.455424,4517,39586,2013,2013/05/22 00:00:00.000,2013/05/22 00:00:00.000,5978.770429,1.316401e+06
9701,-116.901341,32.555424,-116.801341,32.455424,4517,42138,2018,2018/07/17 00:00:00.000,2018/07/17 00:00:00.000,1659.463675,1.147019e+05
9702,-116.901341,32.555424,-116.801341,32.455424,4517,42500,2019,2019/05/13 00:00:00.000,2019/05/19 00:00:00.000,2181.137760,9.451595e+04
9703,-116.901341,32.555424,-116.801341,32.455424,4517,42502,2019,2019/10/30 00:00:00.000,2019/11/01 00:00:00.000,6078.260853,1.502824e+06

In [5]:
table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/table2.csv")

In [6]:
table2

,left,top,right,bottom,newID,HubName,HubDist,202108_vpd,202109_vpd,202110_vpd,...,202101_tma,202102_tma,202103_tma,202104_tma,202105_tma,202106_tma,202107_tma,elev_meanm,slope_mean,popdensity
0,-124.301341,42.055424,-124.201341,41.955424,1,US Hwy 101 N,3658.694708,7.132528,6.172214,3.821714,...,12.017286,10.448143,11.347286,12.672286,14.823143,16.666571,15.303814,38.506361,-241.809568,5.336588
1,-124.201341,42.055424,-124.101341,41.955424,2,US Hwy 101,4926.625172,17.473300,14.657183,8.732333,...,11.167500,10.927167,11.958167,16.914000,19.537333,22.274167,21.206933,215.873256,19.021508,5.336588
2,-124.101341,42.055424,-124.001341,41.955424,3,US Hwy 101 N,11649.734645,23.419316,21.334416,9.653117,...,10.439333,10.838333,12.370833,18.152667,20.967000,24.496667,26.618133,413.476490,21.934253,5.336588
3,-124.001341,42.055424,-123.901341,41.955424,4,US Hwy 199,17830.887457,31.670532,25.602066,10.178000,...,9.022667,10.318111,11.811444,19.513778,22.539222,25.291111,31.500399,618.309257,21.761894,5.336588
4,-123.901341,42.055424,-123.801341,41.955424,5,US Hwy 199,9621.080189,29.287433,23.395499,8.703683,...,7.604167,8.518833,9.635500,18.484833,21.160000,24.998333,30.552149,888.313698,19.207269,10.522931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470,-117.201341,32.555424,-117.101341,32.455424,4514,State Rte 75,9302.807544,6.886300,7.413300,14.650133,...,18.610001,18.276333,17.046333,18.846333,18.686333,19.690000,21.543133,16.434997,-8056.219591,302.994150
4471,-117.101341,32.555424,-117.001341,32.455424,4515,San Diego Fwy,4558.517518,11.127050,11.027625,18.809549,...,19.078500,18.491500,16.912750,19.220000,18.979500,21.171750,23.299675,150.900135,-8513.645510,302.994150
4472,-117.001341,32.555424,-116.901341,32.455424,4516,State Hwy 905,5109.923928,18.187350,17.528325,20.911225,...,19.423000,18.951750,17.820000,21.039000,21.062500,23.906250,26.117774,127.836714,-9365.532641,302.994150
4473,-116.901341,32.555424,-116.801341,32.455424,4517,State Rte 905,9607.776316,24.241250,21.749450,22.783499,...,19.080500,18.818000,17.491000,21.235499,21.813500,26.246500,28.379749,241.126194,-9972.992150,302.994150
4474,-116.801341,32.555424,-116.701341,32.455424,4518,State Hwy 94,12390.931349,28.443099,25.239766,23.704533,...,19.530333,19.190000,17.864333,21.569667,22.551334,27.840333,30.071000,299.894144,-9999.000000,NaN

In [16]:
final_table1 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable1.csv")

In [17]:
final_table1

,left,top,right,bottom,newID,OBJECTID,YEAR_,ALARM_DATE,CONT_DATE,Shape_Leng,Shape_Area
0,-124.201341,42.055424,-124.101341,41.955424,2,38911,2011,2011/08/14 00:00:00.000,2011/08/16 00:00:00.000,1332.970587,8.358999e+04
1,-124.101341,42.055424,-124.001341,41.955424,3,32139,2002,2002/07/13 00:00:00.000,2002/11/08 00:00:00.000,403257.735458,2.027807e+09
2,-123.801341,42.055424,-123.701341,41.955424,6,21707,2020,2020/09/08 00:00:00.000,2020/12/12 00:00:00.000,431144.526138,6.370961e+08
3,-123.601341,42.055424,-123.501341,41.955424,8,38284,2008,2008/10/29 00:00:00.000,2008/10/31 00:00:00.000,1223.899222,9.011795e+04
4,-123.601341,42.055424,-123.501341,41.955424,8,42405,2018,2018/10/19 00:00:00.000,2018/12/18 00:00:00.000,171770.492164,1.542575e+08
...,...,...,...,...,...,...,...,...,...,...,...
6501,-116.101341,32.655424,-116.001341,32.555424,4508,22130,2007,2007/06/05 00:00:00.000,2007/06/08 00:00:00.000,9536.241331,2.828639e+06
6502,-116.101341,32.655424,-116.001341,32.555424,4508,38012,2008,2008/06/23 00:00:00.000,2008/06/23 00:00:00.000,2096.437057,2.138425e+05
6503,-116.101341,32.655424,-116.001341,32.555424,4508,21771,2020,2020/07/07 00:00:00.000,2020/07/13 00:00:00.000,4541.175484,4.153762e+05
6504,-116.101341,32.655424,-116.001341,32.555424,4508,21800,2020,2020/06/12 00:00:00.000,2020/06/14 00:00:00.000,2084.062734,5.218381e+04
6505,-117.001341,32.555424,-116.901341,32.455424,4516,22586,2005,2005/05/04 00:00:00.000,2005/05/04 00:00:00.000,182.233590,1.886432e+03

In [9]:
final_table2 = pd.read_csv("/Users/alekseyvalouev/Desktop/FireData/CSV/finaltable2.csv")

In [10]:
final_table2

,left,top,right,bottom,newID,HubName,HubDist,202108_vpd,202109_vpd,202110_vpd,...,202101_tma,202102_tma,202103_tma,202104_tma,202105_tma,202106_tma,202107_tma,elev_meanm,slope_mean,popdensity
0,-124.301341,42.055424,-124.201341,41.955424,1,US Hwy 101 N,3658.694708,7.132528,6.172214,3.821714,...,12.017286,10.448143,11.347286,12.672286,14.823143,16.666571,15.303814,38.506361,0.000000,5.336588
1,-124.201341,42.055424,-124.101341,41.955424,2,US Hwy 101,4926.625172,17.473300,14.657183,8.732333,...,11.167500,10.927167,11.958167,16.914000,19.537333,22.274167,21.206933,215.873256,19.021508,5.336588
2,-124.101341,42.055424,-124.001341,41.955424,3,US Hwy 101 N,11649.734645,23.419316,21.334416,9.653117,...,10.439333,10.838333,12.370833,18.152667,20.967000,24.496667,26.618133,413.476490,21.934253,5.336588
3,-124.001341,42.055424,-123.901341,41.955424,4,US Hwy 199,17830.887457,31.670532,25.602066,10.178000,...,9.022667,10.318111,11.811444,19.513778,22.539222,25.291111,31.500399,618.309257,21.761894,5.336588
4,-123.901341,42.055424,-123.801341,41.955424,5,US Hwy 199,9621.080189,29.287433,23.395499,8.703683,...,7.604167,8.518833,9.635500,18.484833,21.160000,24.998333,30.552149,888.313698,19.207269,10.522931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4392,-115.701341,32.655424,-115.601341,32.555424,4512,US Hwy 98,8199.756390,61.884399,57.189499,37.960899,...,21.086500,23.923500,24.287499,31.439000,34.637499,40.823000,41.938549,33.613905,0.000000,16.659991
4393,-117.201341,32.555424,-117.101341,32.455424,4514,State Rte 75,9302.807544,6.886300,7.413300,14.650133,...,18.610001,18.276333,17.046333,18.846333,18.686333,19.690000,21.543133,16.434997,0.000000,302.994150
4394,-117.101341,32.555424,-117.001341,32.455424,4515,San Diego Fwy,4558.517518,11.127050,11.027625,18.809549,...,19.078500,18.491500,16.912750,19.220000,18.979500,21.171750,23.299675,150.900135,0.000000,302.994150
4395,-117.001341,32.555424,-116.901341,32.455424,4516,State Hwy 905,5109.923928,18.187350,17.528325,20.911225,...,19.423000,18.951750,17.820000,21.039000,21.062500,23.906250,26.117774,127.836714,0.000000,302.994150
4396,-116.901341,32.555424,-116.801341,32.455424,4517,State Rte 905,9607.776316,24.241250,21.749450,22.783499,...,19.080500,18.818000,17.491000,21.235499,21.813500,26.246500,28.379749,241.126194,0.000000,302.994150

In [15]:
len(final_table1)

6506